/**
 * Classes to help you in your work
 */


// Text
// ------------------------------------------------
.upper{
    text-transform: uppercase !important;
}
.bold{
	font-weight: bold !important;
}
.capitalize{
    text-transform: capitalize !important;
}
.text-normal{
	text-transform: none !important;
}
.text-ellipsis{
	white-space:nowrap; overflow: hidden; text-overflow: ellipsis;
}


// Btn helpers
// ------------------------------------------------
.btn-square{
    border-radius: 0 !important;
}
.btn-rounded{
    border-radius: 50px !important;
}


// Font sizes text 12 to 18
// ------------------------------------------------
@for $i from 0 through 6 {
    .fz-#{$i + 12} {
       font-size: $i + 12px !important;
    }
}


// Margins helpers mixin: margins step 5 in 5 to 50
// ------------------------------------------------
@mixin margins($sufix, $direction){
	@for $i from 0 through 8 {
	    .#{$sufix}-#{$i * 5} {
	        margin-#{$direction}: $i * 5px !important;
	    }
	}
}

// margin top
@include margins('mt', 'top');
// margin bottom
@include margins('mb', 'bottom');
// margin left
@include margins('ml', 'left');
// margin right
@include margins('mr', 'right');


// Tables
// ------------------------------------------------
table{
	thead{
		th{
			cursor: pointer;
		}
	}
}
.table-middle{
	tr{
		th,td{
			vertical-align: middle !important;
		}
	}
}
.table-no-border{
	tr{
		th,td{
			border: 0 !important;
		}
	}
}
.table-xs{
	tr{
		th,td{
			padding: 3px !important;
		}
	}
}


// Others
// ------------------------------------------------
.inline{
	display: inline-block !important;
}
.posr{
	position: relative;
}
.no-resize{
    resize: none;
}

.disable-scroll{
	overflow: hidden;
	position: fixed;
	@include maxw(xs){
		position: fixed;
		left: 0;
		right: 0;
	}
}

// Responsive helpers
// ------------------------------------------------
.hidden-xxs{
	display: none;
	@include minw(xxs){
		display: block;
	}
}

.visible-xxs{
	display: block;
	@include minw(xxs){
		display: none;
	}
}

@include maxw(xxs){
	// reset to .col-* bootstrap
	.col-xxs{
		width: 100%;
	}
	.text-center-xxs{
		text-align: center;
	}
}
