// ==== Config ==== //


// Define colors
// ------------------------------------------------

$brand-primary: #008A6C;
$brand-second: #606c76;


// Background body and text color
// ------------------------------------------------
$body-bg: #fff;
$color-text: #606c76;


// Fonts
// ------------------------------------------------
// $font-size-base: 1.6em !default;
$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
$headings-font-weight: 400;


// Radius
// ------------------------------------------------
$border-radius-base: 0.2em;


// Buttons array generate
// ------------------------------------------------

// Add or modify buttons array
$buttons: (
  second: #606c76,
  black: black
);
